# Source to the original dataset
https://www.espncricinfo.com/records/highest-career-batting-average-282910

In [3]:
#import pandas as pd

In [4]:
import pandas as pd

In [5]:
#import CSV

In [6]:
df = pd.read_csv('Dataset_Cricket.csv')

In [7]:
df

,Player,Span,Mat,Inns,NO,Runs,HS,Ave,BF,SR,100,50,0,4s,6s
0,DG Bradman (AUS),1928-1948,52,80,10,6996,334,99.94,9800+,58.60,29,13,7,626+,6
1,YBK Jaiswal (IND),2023-2024,11,20,1,1217,214*,64.05,1698,71.67,3,7,1,139,32
2,AC Voges (AUS),2015-2016,20,31,7,1485,269*,61.87,2667,55.68,5,4,2,186,5
3,RG Pollock (SA),1963-1970,23,41,4,2256,274,60.97,1707+,54.48,7,11,1,246+,11
4,GA Headley (WI),1930-1954,22,40,4,2190,270*,60.83,416+,56.00,10,5,2,104+,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
60,GC Smith (ICC/SA),2002-2014,117,205,13,9265,277,48.25,15525,59.67,27,38,11,1165,24
61,GC Smith (ICC/SA),2002-2014,117,205,13,9265,277,48.25,15525,59.67,27,38,11,1165,24
62,WH Ponsford (AUS),1924-1934,29,48,4,2122,266,48.22,3118+,44.77,7,6,1,119+,0
63,SJ McCabe (AUS),1930-1938,39,62,5,2748,232,48.21,3217+,60.02,6,13,4,241+,5+
64,DR Jardine (ENG),1928-1934,22,33,6,1296,127,48.00,2110+,25.59,1,10,2,53+,0

In [8]:
#Rename multiple columns in a list

In [9]:
df = df.rename(columns = {'Mat':'Matches', 'NO': 'Not_Outs', 'HS ':'Highest_Inns_Score', 'BF': 'Balls_Faced', 'SR':'Batting_Strike_Rate'})

In [10]:
df

,Player,Span,Matches,Inns,Not_Outs,Runs,Highest_Inns_Score,Ave,Balls_Faced,Batting_Strike_Rate,100,50,0,4s,6s
0,DG Bradman (AUS),1928-1948,52,80,10,6996,334,99.94,9800+,58.60,29,13,7,626+,6
1,YBK Jaiswal (IND),2023-2024,11,20,1,1217,214*,64.05,1698,71.67,3,7,1,139,32
2,AC Voges (AUS),2015-2016,20,31,7,1485,269*,61.87,2667,55.68,5,4,2,186,5
3,RG Pollock (SA),1963-1970,23,41,4,2256,274,60.97,1707+,54.48,7,11,1,246+,11
4,GA Headley (WI),1930-1954,22,40,4,2190,270*,60.83,416+,56.00,10,5,2,104+,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
60,GC Smith (ICC/SA),2002-2014,117,205,13,9265,277,48.25,15525,59.67,27,38,11,1165,24
61,GC Smith (ICC/SA),2002-2014,117,205,13,9265,277,48.25,15525,59.67,27,38,11,1165,24
62,WH Ponsford (AUS),1924-1934,29,48,4,2122,266,48.22,3118+,44.77,7,6,1,119+,0
63,SJ McCabe (AUS),1930-1938,39,62,5,2748,232,48.21,3217+,60.02,6,13,4,241+,5+
64,DR Jardine (ENG),1928-1934,22,33,6,1296,127,48.00,2110+,25.59,1,10,2,53+,0

In [11]:
#Check Null values

In [12]:
df.isnull().any()

Player                 False
Span                   False
Matches                False
Inns                   False
Not_Outs               False
Runs                   False
Highest_Inns_Score     False
Ave                    False
Balls_Faced            False
Batting_Strike_Rate     True
100                    False
50                     False
0                      False
4s                     False
6s                     False
dtype: bool

In [13]:
df[df['Batting_Strike_Rate'].isna() == 1]

,Player,Span,Matches,Inns,Not_Outs,Runs,Highest_Inns_Score,Ave,Balls_Faced,Batting_Strike_Rate,100,50,0,4s,6s
8,ED Weekes (WI),1948-1958,48,81,5,4455,207,58.61,-,NaN,15,19,6,258+,2
15,CL Walcott (WI),1948-1960,44,74,7,3798,220,56.68,-,NaN,15,14,1,107+,11

In [14]:
#Replace Null values with 0

In [15]:
df['Batting_Strike_Rate'] = df['Batting_Strike_Rate'].fillna(0)

In [16]:
df[df['Batting_Strike_Rate'].isna() == 1]

Empty DataFrame
Columns: [Player, Span, Matches, Inns, Not_Outs, Runs, Highest_Inns_Score, Ave, Balls_Faced, Batting_Strike_Rate, 100, 50, 0, 4s, 6s]
Index: []

In [17]:
df[df['Player'] == 'CL Walcott (WI)']

,Player,Span,Matches,Inns,Not_Outs,Runs,Highest_Inns_Score,Ave,Balls_Faced,Batting_Strike_Rate,100,50,0,4s,6s
15,CL Walcott (WI),1948-1960,44,74,7,3798,220,56.68,-,0.0,15,14,1,107+,11

In [18]:
#Drop Duplicates

In [19]:
df[df.duplicated() == 1]

,Player,Span,Matches,Inns,Not_Outs,Runs,Highest_Inns_Score,Ave,Balls_Faced,Batting_Strike_Rate,100,50,0,4s,6s
14,JB Hobbs (ENG),1908-1930,61,102,7,5410,211,56.94,5363+,46.22,15,28,4,276+,8
61,GC Smith (ICC/SA),2002-2014,117,205,13,9265,277,48.25,15525,59.67,27,38,11,1165,24

In [20]:
#Checking duplicates by player names

In [21]:
df[df['Player'].duplicated() == 1]

,Player,Span,Matches,Inns,Not_Outs,Runs,Highest_Inns_Score,Ave,Balls_Faced,Batting_Strike_Rate,100,50,0,4s,6s
14,JB Hobbs (ENG),1908-1930,61,102,7,5410,211,56.94,5363+,46.22,15,28,4,276+,8
61,GC Smith (ICC/SA),2002-2014,117,205,13,9265,277,48.25,15525,59.67,27,38,11,1165,24

In [22]:
df[df['Player'].isin(['JB Hobbs (ENG)', 'GC Smith (ICC/SA)'])]

,Player,Span,Matches,Inns,Not_Outs,Runs,Highest_Inns_Score,Ave,Balls_Faced,Batting_Strike_Rate,100,50,0,4s,6s
13,JB Hobbs (ENG),1908-1930,61,102,7,5410,211,56.94,5363+,46.22,15,28,4,276+,8
14,JB Hobbs (ENG),1908-1930,61,102,7,5410,211,56.94,5363+,46.22,15,28,4,276+,8
60,GC Smith (ICC/SA),2002-2014,117,205,13,9265,277,48.25,15525,59.67,27,38,11,1165,24
61,GC Smith (ICC/SA),2002-2014,117,205,13,9265,277,48.25,15525,59.67,27,38,11,1165,24

In [23]:
df.drop_duplicates()

,Player,Span,Matches,Inns,Not_Outs,Runs,Highest_Inns_Score,Ave,Balls_Faced,Batting_Strike_Rate,100,50,0,4s,6s
0,DG Bradman (AUS),1928-1948,52,80,10,6996,334,99.94,9800+,58.60,29,13,7,626+,6
1,YBK Jaiswal (IND),2023-2024,11,20,1,1217,214*,64.05,1698,71.67,3,7,1,139,32
2,AC Voges (AUS),2015-2016,20,31,7,1485,269*,61.87,2667,55.68,5,4,2,186,5
3,RG Pollock (SA),1963-1970,23,41,4,2256,274,60.97,1707+,54.48,7,11,1,246+,11
4,GA Headley (WI),1930-1954,22,40,4,2190,270*,60.83,416+,56.00,10,5,2,104+,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
59,KD Walters (AUS),1965-1981,74,125,14,5357,250,48.26,8662+,49.16,15,33,4,525+,23
60,GC Smith (ICC/SA),2002-2014,117,205,13,9265,277,48.25,15525,59.67,27,38,11,1165,24
62,WH Ponsford (AUS),1924-1934,29,48,4,2122,266,48.22,3118+,44.77,7,6,1,119+,0
63,SJ McCabe (AUS),1930-1938,39,62,5,2748,232,48.21,3217+,60.02,6,13,4,241+,5+
64,DR Jardine (ENG),1928-1934,22,33,6,1296,127,48.00,2110+,25.59,1,10,2,53+,0

In [24]:
df = df.drop_duplicates()

In [25]:
df[df['Player'].isin(['JB Hobbs (ENG)', 'GC Smith (ICC/SA)'])]

,Player,Span,Matches,Inns,Not_Outs,Runs,Highest_Inns_Score,Ave,Balls_Faced,Batting_Strike_Rate,100,50,0,4s,6s
13,JB Hobbs (ENG),1908-1930,61,102,7,5410,211,56.94,5363+,46.22,15,28,4,276+,8
60,GC Smith (ICC/SA),2002-2014,117,205,13,9265,277,48.25,15525,59.67,27,38,11,1165,24

In [26]:
#Split up Span into Start and End Date + Career Length

In [27]:
df['Span'].str.split(pat = '-')

0     [1928, 1948]
1     [2023, 2024]
2     [2015, 2016]
3     [1963, 1970]
4     [1930, 1954]
          ...
59    [1965, 1981]
60    [2002, 2014]
62    [1924, 1934]
63    [1930, 1938]
64    [1928, 1934]
Name: Span, Length: 63, dtype: object

In [28]:
df['Span'].str.split(pat = '-').str[0]

0     1928
1     2023
2     2015
3     1963
4     1930
      ...
59    1965
60    2002
62    1924
63    1930
64    1928
Name: Span, Length: 63, dtype: object

In [29]:
df['Rookie_Year'] = df['Span'].str.split(pat = '-').str[0]

C:\Users\thapa\AppData\Local\Temp\ipykernel_30396\3648638022.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['Rookie_Year'] = df['Span'].str.split(pat = '-').str[0]

In [30]:
df['Final_Year'] = df['Span'].str.split(pat = '-').str[1]

C:\Users\thapa\AppData\Local\Temp\ipykernel_30396\3090471237.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['Final_Year'] = df['Span'].str.split(pat = '-').str[1]

In [31]:
df

,Player,Span,Matches,Inns,Not_Outs,Runs,Highest_Inns_Score,Ave,Balls_Faced,Batting_Strike_Rate,100,50,0,4s,6s,Rookie_Year,Final_Year
0,DG Bradman (AUS),1928-1948,52,80,10,6996,334,99.94,9800+,58.60,29,13,7,626+,6,1928,1948
1,YBK Jaiswal (IND),2023-2024,11,20,1,1217,214*,64.05,1698,71.67,3,7,1,139,32,2023,2024
2,AC Voges (AUS),2015-2016,20,31,7,1485,269*,61.87,2667,55.68,5,4,2,186,5,2015,2016
3,RG Pollock (SA),1963-1970,23,41,4,2256,274,60.97,1707+,54.48,7,11,1,246+,11,1963,1970
4,GA Headley (WI),1930-1954,22,40,4,2190,270*,60.83,416+,56.00,10,5,2,104+,1,1930,1954
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
59,KD Walters (AUS),1965-1981,74,125,14,5357,250,48.26,8662+,49.16,15,33,4,525+,23,1965,1981
60,GC Smith (ICC/SA),2002-2014,117,205,13,9265,277,48.25,15525,59.67,27,38,11,1165,24,2002,2014
62,WH Ponsford (AUS),1924-1934,29,48,4,2122,266,48.22,3118+,44.77,7,6,1,119+,0,1924,1934
63,SJ McCabe (AUS),1930-1938,39,62,5,2748,232,48.21,3217+,60.02,6,13,4,241+,5+,1930,1938
64,DR Jardine (ENG),1928-1934,22,33,6,1296,127,48.00,2110+,25.59,1,10,2,53+,0,1928,1934

In [32]:
#Drop Span Columns

In [33]:
df.drop(['Span'], axis = 1)

,Player,Matches,Inns,Not_Outs,Runs,Highest_Inns_Score,Ave,Balls_Faced,Batting_Strike_Rate,100,50,0,4s,6s,Rookie_Year,Final_Year
0,DG Bradman (AUS),52,80,10,6996,334,99.94,9800+,58.60,29,13,7,626+,6,1928,1948
1,YBK Jaiswal (IND),11,20,1,1217,214*,64.05,1698,71.67,3,7,1,139,32,2023,2024
2,AC Voges (AUS),20,31,7,1485,269*,61.87,2667,55.68,5,4,2,186,5,2015,2016
3,RG Pollock (SA),23,41,4,2256,274,60.97,1707+,54.48,7,11,1,246+,11,1963,1970
4,GA Headley (WI),22,40,4,2190,270*,60.83,416+,56.00,10,5,2,104+,1,1930,1954
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
59,KD Walters (AUS),74,125,14,5357,250,48.26,8662+,49.16,15,33,4,525+,23,1965,1981
60,GC Smith (ICC/SA),117,205,13,9265,277,48.25,15525,59.67,27,38,11,1165,24,2002,2014
62,WH Ponsford (AUS),29,48,4,2122,266,48.22,3118+,44.77,7,6,1,119+,0,1924,1934
63,SJ McCabe (AUS),39,62,5,2748,232,48.21,3217+,60.02,6,13,4,241+,5+,1930,1938
64,DR Jardine (ENG),22,33,6,1296,127,48.00,2110+,25.59,1,10,2,53+,0,1928,1934

In [34]:
df = df.drop(['Span'], axis = 1)

In [35]:
df.head()

,Player,Matches,Inns,Not_Outs,Runs,Highest_Inns_Score,Ave,Balls_Faced,Batting_Strike_Rate,100,50,0,4s,6s,Rookie_Year,Final_Year
0,DG Bradman (AUS),52,80,10,6996,334,99.94,9800+,58.60,29,13,7,626+,6,1928,1948
1,YBK Jaiswal (IND),11,20,1,1217,214*,64.05,1698,71.67,3,7,1,139,32,2023,2024
2,AC Voges (AUS),20,31,7,1485,269*,61.87,2667,55.68,5,4,2,186,5,2015,2016
3,RG Pollock (SA),23,41,4,2256,274,60.97,1707+,54.48,7,11,1,246+,11,1963,1970
4,GA Headley (WI),22,40,4,2190,270*,60.83,416+,56.00,10,5,2,104+,1,1930,1954

In [36]:
#QUESTION -> Split up the Country from the player

In [37]:
df['Player'].str.split(pat = '(')

0      [DG Bradman , AUS)]
1     [YBK Jaiswal , IND)]
2        [AC Voges , AUS)]
3       [RG Pollock , SA)]
4       [GA Headley , WI)]
              ...
59     [KD Walters , AUS)]
60    [GC Smith , ICC/SA)]
62    [WH Ponsford , AUS)]
63      [SJ McCabe , AUS)]
64     [DR Jardine , ENG)]
Name: Player, Length: 63, dtype: object

In [38]:
df['Country'] = df['Player'].str.split(pat = '(').str[1]

In [39]:
df['Country']

0        AUS)
1        IND)
2        AUS)
3         SA)
4         WI)
       ...
59       AUS)
60    ICC/SA)
62       AUS)
63       AUS)
64       ENG)
Name: Country, Length: 63, dtype: object

In [40]:
df['Country'] = df['Country'].str.split(pat = ')').str[0]

In [41]:
df['Country']

0        AUS
1        IND
2        AUS
3         SA
4         WI
       ...
59       AUS
60    ICC/SA
62       AUS
63       AUS
64       ENG
Name: Country, Length: 63, dtype: object

In [42]:
df['Player'] = df['Player'].str.split(pat = '(').str[0]

In [43]:
df.head()

,Player,Matches,Inns,Not_Outs,Runs,Highest_Inns_Score,Ave,Balls_Faced,Batting_Strike_Rate,100,50,0,4s,6s,Rookie_Year,Final_Year,Country
0,DG Bradman,52,80,10,6996,334,99.94,9800+,58.60,29,13,7,626+,6,1928,1948,AUS
1,YBK Jaiswal,11,20,1,1217,214*,64.05,1698,71.67,3,7,1,139,32,2023,2024,IND
2,AC Voges,20,31,7,1485,269*,61.87,2667,55.68,5,4,2,186,5,2015,2016,AUS
3,RG Pollock,23,41,4,2256,274,60.97,1707+,54.48,7,11,1,246+,11,1963,1970,SA
4,GA Headley,22,40,4,2190,270*,60.83,416+,56.00,10,5,2,104+,1,1930,1954,WI

In [44]:
#Change DataTypes

In [45]:
df.dtypes

Player                  object
Matches                  int64
Inns                     int64
Not_Outs                 int64
Runs                     int64
Highest_Inns_Score      object
Ave                    float64
Balls_Faced             object
Batting_Strike_Rate    float64
100                      int64
50                       int64
0                        int64
4s                      object
6s                      object
Rookie_Year             object
Final_Year              object
Country                 object
dtype: object

In [46]:
df['Highest_Inns_Score'].str.split(pat = '*').str[0]

0     334
1     214
2     269
3     274
4     270
     ...
59    250
60    277
62    266
63    232
64    127
Name: Highest_Inns_Score, Length: 63, dtype: object

In [47]:
df['Highest_Inns_Score'] = df['Highest_Inns_Score'].str.split(pat = '*').str[0]

In [48]:
df

,Player,Matches,Inns,Not_Outs,Runs,Highest_Inns_Score,Ave,Balls_Faced,Batting_Strike_Rate,100,50,0,4s,6s,Rookie_Year,Final_Year,Country
0,DG Bradman,52,80,10,6996,334,99.94,9800+,58.60,29,13,7,626+,6,1928,1948,AUS
1,YBK Jaiswal,11,20,1,1217,214,64.05,1698,71.67,3,7,1,139,32,2023,2024,IND
2,AC Voges,20,31,7,1485,269,61.87,2667,55.68,5,4,2,186,5,2015,2016,AUS
3,RG Pollock,23,41,4,2256,274,60.97,1707+,54.48,7,11,1,246+,11,1963,1970,SA
4,GA Headley,22,40,4,2190,270,60.83,416+,56.00,10,5,2,104+,1,1930,1954,WI
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
59,KD Walters,74,125,14,5357,250,48.26,8662+,49.16,15,33,4,525+,23,1965,1981,AUS
60,GC Smith,117,205,13,9265,277,48.25,15525,59.67,27,38,11,1165,24,2002,2014,ICC/SA
62,WH Ponsford,29,48,4,2122,266,48.22,3118+,44.77,7,6,1,119+,0,1924,1934,AUS
63,SJ McCabe,39,62,5,2748,232,48.21,3217+,60.02,6,13,4,241+,5+,1930,1938,AUS
64,DR Jardine,22,33,6,1296,127,48.00,2110+,25.59,1,10,2,53+,0,1928,1934,ENG

In [49]:
df['Highest_Inns_Score'].astype('int')

0     334
1     214
2     269
3     274
4     270
     ...
59    250
60    277
62    266
63    232
64    127
Name: Highest_Inns_Score, Length: 63, dtype: int32

In [50]:
df = df.astype({'Rookie_Year':'int', 'Final_Year':'int'})

In [51]:
df.dtypes

Player                  object
Matches                  int64
Inns                     int64
Not_Outs                 int64
Runs                     int64
Highest_Inns_Score      object
Ave                    float64
Balls_Faced             object
Batting_Strike_Rate    float64
100                      int64
50                       int64
0                        int64
4s                      object
6s                      object
Rookie_Year              int32
Final_Year               int32
Country                 object
dtype: object

In [52]:
df['Balls_Faced'] = df['Balls_Faced'].str.split(pat = '+').str[0]

In [53]:
df['4s'] = df['4s'].str.split(pat = '+').str[0]

In [54]:
df['6s'] = df['6s'].str.split(pat = '+').str[0]

In [55]:
df = df.astype({'4s':'int', '6s':'int'})

In [56]:
df.dtypes

Player                  object
Matches                  int64
Inns                     int64
Not_Outs                 int64
Runs                     int64
Highest_Inns_Score      object
Ave                    float64
Balls_Faced             object
Batting_Strike_Rate    float64
100                      int64
50                       int64
0                        int64
4s                       int32
6s                       int32
Rookie_Year              int32
Final_Year               int32
Country                 object
dtype: object

In [57]:
df.isnull().any()

Player                 False
Matches                False
Inns                   False
Not_Outs               False
Runs                   False
Highest_Inns_Score     False
Ave                    False
Balls_Faced            False
Batting_Strike_Rate    False
100                    False
50                     False
0                      False
4s                     False
6s                     False
Rookie_Year            False
Final_Year             False
Country                False
dtype: bool

In [58]:
df

,Player,Matches,Inns,Not_Outs,Runs,Highest_Inns_Score,Ave,Balls_Faced,Batting_Strike_Rate,100,50,0,4s,6s,Rookie_Year,Final_Year,Country
0,DG Bradman,52,80,10,6996,334,99.94,9800,58.60,29,13,7,626,6,1928,1948,AUS
1,YBK Jaiswal,11,20,1,1217,214,64.05,1698,71.67,3,7,1,139,32,2023,2024,IND
2,AC Voges,20,31,7,1485,269,61.87,2667,55.68,5,4,2,186,5,2015,2016,AUS
3,RG Pollock,23,41,4,2256,274,60.97,1707,54.48,7,11,1,246,11,1963,1970,SA
4,GA Headley,22,40,4,2190,270,60.83,416,56.00,10,5,2,104,1,1930,1954,WI
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
59,KD Walters,74,125,14,5357,250,48.26,8662,49.16,15,33,4,525,23,1965,1981,AUS
60,GC Smith,117,205,13,9265,277,48.25,15525,59.67,27,38,11,1165,24,2002,2014,ICC/SA
62,WH Ponsford,29,48,4,2122,266,48.22,3118,44.77,7,6,1,119,0,1924,1934,AUS
63,SJ McCabe,39,62,5,2748,232,48.21,3217,60.02,6,13,4,241,5,1930,1938,AUS
64,DR Jardine,22,33,6,1296,127,48.00,2110,25.59,1,10,2,53,0,1928,1934,ENG

In [59]:
pd.set_option('display.max_rows', None)

In [60]:
df

,Player,Matches,Inns,Not_Outs,Runs,Highest_Inns_Score,Ave,Balls_Faced,Batting_Strike_Rate,100,50,0,4s,6s,Rookie_Year,Final_Year,Country
0,DG Bradman,52,80,10,6996,334,99.94,9800,58.60,29,13,7,626,6,1928,1948,AUS
1,YBK Jaiswal,11,20,1,1217,214,64.05,1698,71.67,3,7,1,139,32,2023,2024,IND
2,AC Voges,20,31,7,1485,269,61.87,2667,55.68,5,4,2,186,5,2015,2016,AUS
3,RG Pollock,23,41,4,2256,274,60.97,1707,54.48,7,11,1,246,11,1963,1970,SA
4,GA Headley,22,40,4,2190,270,60.83,416,56.00,10,5,2,104,1,1930,1954,WI
5,H Sutcliffe,54,84,9,4555,194,60.73,6558,34.59,16,23,2,202,6,1924,1935,ENG
6,E Paynter,20,31,5,1540,243,59.23,1288,45.88,4,7,3,125,4,1931,1939,ENG
7,KF Barrington,82,131,15,6806,256,58.67,4957,42.42,20,35,5,591,27,1955,1968,ENG
8,ED Weekes,48,81,5,4455,207,58.61,-,0.00,15,19,6,258,2,1948,1958,WI
9,WR Hammond,85,140,16,7249,336,58.45,7491,38.07,22,24,4,419,27,1927,1947,ENG
10,GS Sobers,93,160,21,8032,365,57.78,4063,53.58,26,30,12,593,32,1954,1974,WI
11,KC Sangakkara,134,233,17,12400,319,57.40,22882,54.19,38,52,11,1491,51,2000,2015,SL
12,SPD Smith,109,195,25,9685,239,56.97,18100,53.50,32,41,10,1063,54,2010,2024,AUS
13,JB Hobbs,61,102,7,5410,211,56.94,5363,46.22,15,28,4,276,8,1908,1930,ENG
15,CL Walcott,44,74,7,3798,220,56.68,-,0.00,15,14,1,107,11,1948,1960,WI
16,L Hutton,79,138,15,6971,364,56.67,2844,39.34,19,33,5,358,7,1937,1955,ENG
17,Saud Shakeel,12,23,3,1126,208,56.30,2413,46.66,3,6,1,123,1,2022,2024,PAK
18,JH Kallis,166,280,40,13289,224,55.37,28903,45.97,45,58,16,1488,97,1995,2013,ICC/SA
19,GE Tyldesley,14,20,2,990,122,55.00,178,29.21,3,6,2,37,2,1921,1929,ENG
20,KS Williamson,102,180,17,8881,251,54.48,17267,51.43,32,35,11,982,26,2010,2024,NZ
21,CA Davis,15,29,5,1301,183,54.20,665,35.48,4,4,1,65,1,1968,1973,WI
22,VG Kambli,17,21,1,1084,227,54.20,1823,59.46,4,3,3,124,6,1993,1995,IND
23,GS Chappell,87,151,19,7110,247,53.86,13079,51.53,24,31,12,755,16,1970,1984,AUS
24,AD Nourse,34,62,7,2960,231,53.81,108,63.88,9,14,3,115,6,1935,1951,SA
25,SR Tendulkar,200,329,33,15921,248,53.78,29437,54.04,51,68,14,2058,69,1989,2013,IND
26,HC Brook,18,30,1,1558,186,53.72,1795,86.79,5,9,1,181,26,2022,2024,ENG
27,BC Lara,131,232,6,11953,400,52.88,19753,60.51,34,48,17,1559,88,1990,2006,ICC/WI
28,Javed Miandad,124,189,21,8832,280,52.57,15164,45.99,23,43,6,788,48,1976,1993,PAK
29,R Dravid,164,286,32,13288,270,52.31,31258,42.51,36,63,8,1654,21,1996,2012,ICC/IND
30,Mohammad Yousuf,90,156,12,7530,223,52.29,14372,52.39,24,33,11,957,51,1998,2010,PAK
31,Younis Khan,118,213,19,10099,313,52.05,19375,52.12,34,33,19,1082,70,2000,2017,PAK
32,RT Ponting,168,287,29,13378,257,51.85,22782,58.72,41,62,17,1509,73,1995,2012,AUS
33,J Ryder,20,32,5,1394,201,51.62,2035,44.86,3,9,1,102,3,1920,1929,AUS
34,A Flower,63,112,19,4794,232,51.54,10636,45.07,12,27,5,543,20,1992,2002,ZIM
35,MEK Hussey,79,137,16,6235,195,51.52,12436,50.13,19,29,12,685,39,2005,2013,AUS
36,S Chanderpaul,164,280,49,11867,203,51.37,27395,43.31,30,66,15,1285,36,1994,2015,WI
37,SM Gavaskar,125,214,16,10122,236,51.12,14184,43.35,34,45,12,908,26,1971,1987,IND
38,SR Waugh,168,260,46,10927,200,51.06,22461,48.64,32,50,22,1175,20,1985,2004,AUS
39,ML Hayden,103,184,14,8625,380,50.73,14349,60.10,30,29,14,1049,82,1994,2009,AUS
40,AB de Villiers,114,191,18,8765,278,50.66,16077,54.51,22,46,8,1024,64,2004,2018,SA
41,JE Root,146,267,22,12402,254,50.62,21785,56.92,34,64,12,1343,44,2012,2024,ENG
42,AR Border,156,265,44,11174,205,50.56,27002,41.09,27,63,11,1161,28,1978,1994,AUS
43,IVA Richards,121,182,12,8540,291,50.23,9613,69.77,24,45,10,952,84,1974,1991,WI
44,DCS Compton,78,131,15,5807,278,50.06,2731,38.81,17,28,10,342,3,1937,1957,ENG
45,DPMD Jayawardene,149,252,15,11814,374,49.84,22959,51.45,34,50,15,1387,61,1997,2014,SL
46,Inzamam-ul-Haq,120,200,22,8830,329,49.60,16345,54.02,25,46,15,1105,48,1992,2007,ICC/PAK
47,M Labuschagne,50,90,7,4114,215,49.56,7809,52.68,11,20,4,463,12,2018,2024,AUS
48,FMM Worrell,51,87,9,3860,261,49.48,488,40.16,9,22,11,240,11,1948,1963,WI
49,CP Mead,17,26,2,1185,182,49.37,619,30.04,4,3,3,38,0,1911,1928,ENG
50,V Sehwag,104,180,6,8586,319,49.34,10441,82.23,23,32,16,1233,91,2001,2013,ICC/IND
51,Abid Ali,16,26,2,1180,215,49.16,2445,48.26,4,3,2,148,5,2019,2021,PAK
52,MJ Clarke,115,198,22,8643,329,49.10,15456,55.92,28,27,9,978,39,2004,2015,AUS
53,KC Bland,21,39,5,1669,144,49.08,885,37.74,3,9,2,123,20,1961,1966,SA
54,V Kohli,115,195,12,8947,254,48.89,16039,55.78,29,30,14,1001,27,2011,2024,IND
55,B Mitchell,42,80,9,3471,189,48.88,158,29.11,8,21,3,41,1,1929,1949,SA
56,Hon.FS Jackson,20,33,4,1415,144,48.79,-,0.00,5,6,3,51,0,1893,1905,ENG
57,TT Samaraweera,81,132,20,5462,231,48.76,11641,46.92,14,30,11,633,7,2001,2013,SL
58,RN Harvey,79,137,10,6149,205,48.41,1799,43.74,21,24,7,427,1,1948,1963,AUS
59,KD Walters,74,125,14,5357,250,48.26,8662,49.16,15,33,4,525,23,1965,1981,AUS
60,GC Smith,117,205,13,9265,277,48.25,15525,59.67,27,38,11,1165,24,2002,2014,ICC/SA
62,WH Ponsford,29,48,4,2122,266,48.22,3118,44.77,7,6,1,119,0,1924,1934,AUS
63,SJ McCabe,39,62,5,2748,232,48.21,3217,60.02,6,13,4,241,5,1930,1938,AUS
64,DR Jardine,22,33,6,1296,127,48.00,2110,25.59,1,10,2,53,0,1928,1934,ENG

In [61]:
#Dropping the rows with  no values

In [62]:
df = df.drop({8, 10, 15, 56}, axis = 0)

In [63]:
df.isnull().any()

Player                 False
Matches                False
Inns                   False
Not_Outs               False
Runs                   False
Highest_Inns_Score     False
Ave                    False
Balls_Faced            False
Batting_Strike_Rate    False
100                    False
50                     False
0                      False
4s                     False
6s                     False
Rookie_Year            False
Final_Year             False
Country                False
dtype: bool

In [64]:
df.dtypes

Player                  object
Matches                  int64
Inns                     int64
Not_Outs                 int64
Runs                     int64
Highest_Inns_Score      object
Ave                    float64
Balls_Faced             object
Batting_Strike_Rate    float64
100                      int64
50                       int64
0                        int64
4s                       int32
6s                       int32
Rookie_Year              int32
Final_Year               int32
Country                 object
dtype: object

In [65]:
df['Balls_Faced'] = df['Balls_Faced'].astype('int')

In [66]:
df['Highest_Inns_Score'] = df['Highest_Inns_Score'].astype('int')

In [67]:
df.dtypes

Player                  object
Matches                  int64
Inns                     int64
Not_Outs                 int64
Runs                     int64
Highest_Inns_Score       int32
Ave                    float64
Balls_Faced              int32
Batting_Strike_Rate    float64
100                      int64
50                       int64
0                        int64
4s                       int32
6s                       int32
Rookie_Year              int32
Final_Year               int32
Country                 object
dtype: object

In [68]:
## QUETION Build out Career_Length Column

In [69]:
df['Career_Length'] = df['Final_Year'] - df['Rookie_Year']

In [70]:
df

,Player,Matches,Inns,Not_Outs,Runs,Highest_Inns_Score,Ave,Balls_Faced,Batting_Strike_Rate,100,50,0,4s,6s,Rookie_Year,Final_Year,Country,Career_Length
0,DG Bradman,52,80,10,6996,334,99.94,9800,58.60,29,13,7,626,6,1928,1948,AUS,20
1,YBK Jaiswal,11,20,1,1217,214,64.05,1698,71.67,3,7,1,139,32,2023,2024,IND,1
2,AC Voges,20,31,7,1485,269,61.87,2667,55.68,5,4,2,186,5,2015,2016,AUS,1
3,RG Pollock,23,41,4,2256,274,60.97,1707,54.48,7,11,1,246,11,1963,1970,SA,7
4,GA Headley,22,40,4,2190,270,60.83,416,56.00,10,5,2,104,1,1930,1954,WI,24
5,H Sutcliffe,54,84,9,4555,194,60.73,6558,34.59,16,23,2,202,6,1924,1935,ENG,11
6,E Paynter,20,31,5,1540,243,59.23,1288,45.88,4,7,3,125,4,1931,1939,ENG,8
7,KF Barrington,82,131,15,6806,256,58.67,4957,42.42,20,35,5,591,27,1955,1968,ENG,13
9,WR Hammond,85,140,16,7249,336,58.45,7491,38.07,22,24,4,419,27,1927,1947,ENG,20
11,KC Sangakkara,134,233,17,12400,319,57.40,22882,54.19,38,52,11,1491,51,2000,2015,SL,15
12,SPD Smith,109,195,25,9685,239,56.97,18100,53.50,32,41,10,1063,54,2010,2024,AUS,14
13,JB Hobbs,61,102,7,5410,211,56.94,5363,46.22,15,28,4,276,8,1908,1930,ENG,22
16,L Hutton,79,138,15,6971,364,56.67,2844,39.34,19,33,5,358,7,1937,1955,ENG,18
17,Saud Shakeel,12,23,3,1126,208,56.30,2413,46.66,3,6,1,123,1,2022,2024,PAK,2
18,JH Kallis,166,280,40,13289,224,55.37,28903,45.97,45,58,16,1488,97,1995,2013,ICC/SA,18
19,GE Tyldesley,14,20,2,990,122,55.00,178,29.21,3,6,2,37,2,1921,1929,ENG,8
20,KS Williamson,102,180,17,8881,251,54.48,17267,51.43,32,35,11,982,26,2010,2024,NZ,14
21,CA Davis,15,29,5,1301,183,54.20,665,35.48,4,4,1,65,1,1968,1973,WI,5
22,VG Kambli,17,21,1,1084,227,54.20,1823,59.46,4,3,3,124,6,1993,1995,IND,2
23,GS Chappell,87,151,19,7110,247,53.86,13079,51.53,24,31,12,755,16,1970,1984,AUS,14
24,AD Nourse,34,62,7,2960,231,53.81,108,63.88,9,14,3,115,6,1935,1951,SA,16
25,SR Tendulkar,200,329,33,15921,248,53.78,29437,54.04,51,68,14,2058,69,1989,2013,IND,24
26,HC Brook,18,30,1,1558,186,53.72,1795,86.79,5,9,1,181,26,2022,2024,ENG,2
27,BC Lara,131,232,6,11953,400,52.88,19753,60.51,34,48,17,1559,88,1990,2006,ICC/WI,16
28,Javed Miandad,124,189,21,8832,280,52.57,15164,45.99,23,43,6,788,48,1976,1993,PAK,17
29,R Dravid,164,286,32,13288,270,52.31,31258,42.51,36,63,8,1654,21,1996,2012,ICC/IND,16
30,Mohammad Yousuf,90,156,12,7530,223,52.29,14372,52.39,24,33,11,957,51,1998,2010,PAK,12
31,Younis Khan,118,213,19,10099,313,52.05,19375,52.12,34,33,19,1082,70,2000,2017,PAK,17
32,RT Ponting,168,287,29,13378,257,51.85,22782,58.72,41,62,17,1509,73,1995,2012,AUS,17
33,J Ryder,20,32,5,1394,201,51.62,2035,44.86,3,9,1,102,3,1920,1929,AUS,9
34,A Flower,63,112,19,4794,232,51.54,10636,45.07,12,27,5,543,20,1992,2002,ZIM,10
35,MEK Hussey,79,137,16,6235,195,51.52,12436,50.13,19,29,12,685,39,2005,2013,AUS,8
36,S Chanderpaul,164,280,49,11867,203,51.37,27395,43.31,30,66,15,1285,36,1994,2015,WI,21
37,SM Gavaskar,125,214,16,10122,236,51.12,14184,43.35,34,45,12,908,26,1971,1987,IND,16
38,SR Waugh,168,260,46,10927,200,51.06,22461,48.64,32,50,22,1175,20,1985,2004,AUS,19
39,ML Hayden,103,184,14,8625,380,50.73,14349,60.10,30,29,14,1049,82,1994,2009,AUS,15
40,AB de Villiers,114,191,18,8765,278,50.66,16077,54.51,22,46,8,1024,64,2004,2018,SA,14
41,JE Root,146,267,22,12402,254,50.62,21785,56.92,34,64,12,1343,44,2012,2024,ENG,12
42,AR Border,156,265,44,11174,205,50.56,27002,41.09,27,63,11,1161,28,1978,1994,AUS,16
43,IVA Richards,121,182,12,8540,291,50.23,9613,69.77,24,45,10,952,84,1974,1991,WI,17
44,DCS Compton,78,131,15,5807,278,50.06,2731,38.81,17,28,10,342,3,1937,1957,ENG,20
45,DPMD Jayawardene,149,252,15,11814,374,49.84,22959,51.45,34,50,15,1387,61,1997,2014,SL,17
46,Inzamam-ul-Haq,120,200,22,8830,329,49.60,16345,54.02,25,46,15,1105,48,1992,2007,ICC/PAK,15
47,M Labuschagne,50,90,7,4114,215,49.56,7809,52.68,11,20,4,463,12,2018,2024,AUS,6
48,FMM Worrell,51,87,9,3860,261,49.48,488,40.16,9,22,11,240,11,1948,1963,WI,15
49,CP Mead,17,26,2,1185,182,49.37,619,30.04,4,3,3,38,0,1911,1928,ENG,17
50,V Sehwag,104,180,6,8586,319,49.34,10441,82.23,23,32,16,1233,91,2001,2013,ICC/IND,12
51,Abid Ali,16,26,2,1180,215,49.16,2445,48.26,4,3,2,148,5,2019,2021,PAK,2
52,MJ Clarke,115,198,22,8643,329,49.10,15456,55.92,28,27,9,978,39,2004,2015,AUS,11
53,KC Bland,21,39,5,1669,144,49.08,885,37.74,3,9,2,123,20,1961,1966,SA,5
54,V Kohli,115,195,12,8947,254,48.89,16039,55.78,29,30,14,1001,27,2011,2024,IND,13
55,B Mitchell,42,80,9,3471,189,48.88,158,29.11,8,21,3,41,1,1929,1949,SA,20
57,TT Samaraweera,81,132,20,5462,231,48.76,11641,46.92,14,30,11,633,7,2001,2013,SL,12
58,RN Harvey,79,137,10,6149,205,48.41,1799,43.74,21,24,7,427,1,1948,1963,AUS,15
59,KD Walters,74,125,14,5357,250,48.26,8662,49.16,15,33,4,525,23,1965,1981,AUS,16
60,GC Smith,117,205,13,9265,277,48.25,15525,59.67,27,38,11,1165,24,2002,2014,ICC/SA,12
62,WH Ponsford,29,48,4,2122,266,48.22,3118,44.77,7,6,1,119,0,1924,1934,AUS,10
63,SJ McCabe,39,62,5,2748,232,48.21,3217,60.02,6,13,4,241,5,1930,1938,AUS,8
64,DR Jardine,22,33,6,1296,127,48.00,2110,25.59,1,10,2,53,0,1928,1934,ENG,6

In [71]:
## Calculations with the dataframe

In [72]:
# 1. What is the average career length

In [73]:
df['Career_Length'].mean()

12.932203389830509

In [74]:
# 2. what is the average Batting_Strike_Rate for cricketers who played over 10 years

In [75]:
df[df['Career_Length'] > 10]['Batting_Strike_Rate']

0     58.60
4     56.00
5     34.59
7     42.42
9     38.07
11    54.19
12    53.50
13    46.22
16    39.34
18    45.97
20    51.43
23    51.53
24    63.88
25    54.04
27    60.51
28    45.99
29    42.51
30    52.39
31    52.12
32    58.72
36    43.31
37    43.35
38    48.64
39    60.10
40    54.51
41    56.92
42    41.09
43    69.77
44    38.81
45    51.45
46    54.02
48    40.16
49    30.04
50    82.23
52    55.92
54    55.78
55    29.11
57    46.92
58    43.74
59    49.16
60    59.67
Name: Batting_Strike_Rate, dtype: float64

In [76]:
# 3. Find the number of cricketers who played before 1960

In [77]:
df[df['Rookie_Year'] < 1960]['Player'].count()

19

In [78]:
# 4. Max Highest Inns Score by country

In [79]:
df.groupby('Country')['Highest_Inns_Score'].max().to_frame('Highestinncountry').reset_index().sort_values('Highestinncountry', ascending = False)

    Country  Highestinncountry
5    ICC/WI                400
0       AUS                380
10       SL                374
1       ENG                364
3   ICC/PAK                329
2   ICC/IND                319
8       PAK                313
11       WI                291
9        SA                278
4    ICC/SA                277
6       IND                254
7        NZ                251
12      ZIM                232

In [80]:
# 5. Hundreds, Fifties, ducks (0) AVG by Country

In [81]:
df.groupby('Country')[['100', '50', '0']].mean()

               100      50          0
Country
AUS      20.625000  28.375   8.562500
ENG      13.333333  22.500   4.416667
ICC/IND  29.500000  47.500  12.000000
ICC/PAK  25.000000  46.000  15.000000
ICC/SA   36.000000  48.000  13.500000
ICC/WI   34.000000  48.000  17.000000
IND      24.200000  30.600   8.800000
NZ       32.000000  35.000  11.000000
PAK      17.600000  23.600   7.800000
SA        9.800000  20.200   3.400000
SL       28.666667  44.000  12.333333
WI       15.400000  28.400   7.800000
ZIM      12.000000  27.000   5.000000